{{ if eq .Change "update" -}}
* {{ .Package }} - Updated from {{ .OldVersion }} to {{ .Version }}.
{{ else if eq .Change "add" -}}
* {{ .Package }} - New module based on {{ .Version }}
{{ else if eq .Change "remove" -}}
* {{ .Package }} - Module removed
{{- end }}